::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

@media (min-width: 60px) {
  html { 
    background: url(BPA_home.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .container{
    width: 100%;
    height: 1500px;
  }
  .square-wrapper{
    width: 100%;
    height: 500px;
  }
  
  .child1{
    /* border: 1px solid blueviolet; */
    float: left;
    width: 30%;
    padding: 1%;
  }
  
  .n1 {
    margin-top: -20%;
    margin-left: -23%;
  }
  
  .button1 {
    float: right;
    margin-top: 0%;
    margin-right: 4%;
    width: 18%;
    height: 25px;
    border-radius: 10px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 75%;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 120%;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }  
  .image{
    width: 100%;
    margin-left: -6%;
  }
  .child1{
    width: 20%;
  }
  
  .p0 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 200%;
    margin-right: 2%;
    margin-top: 10%;
  }
  .p1 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 200%;
    margin-right: 15%;
    margin-top: -5%;
  }
 
  .t1 {
    font-size: 100%;
    color: white;
    padding: 3%;
    margin-top: -2%;
  }
  
    .square {
      width: 80%;
      height: 350px;
      background: rgb(134, 0, 146);
      border-radius: 15px;
      opacity: 0;
      transform: scale(1.2);
  }

  
  @media (prefers-reduced-motion: no-preference) {
    .square {
      transition: opacity 1s ease, transform 1s ease;
      /* animation: wipe-enter 1s 1; */
    }
    
  }
  
  .square-transition {
      opacity: 1;
      transform: none;
  }
}





@media (min-width: 602px) {
  html { 
    background: url(BPA_home.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .container{
    width: 100%;
    height: 1500px;
  }
  .square-wrapper{
    width: 100%;
    height: 500px;
  }
  
  .child1{
    /* border: 1px solid blueviolet; */
    float: left;
    width: 30%;
    padding: 1%;
  }
  
  .n1 {
    margin-top: -10%;
    margin-left: -25%;
  }
  
  .button1 {
    float: right;
    margin-top: 0%;
    margin-right: 4%;
    width: 15%;
    height: 45px;
    border-radius: 10px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 100%;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 120%;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }  
  .image{
    width: 80%;
    margin-left: -20%;
  }
  .child1{
    width: 20%;
  }
  
  .p0 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 275%;
    margin-right: 6%;
  }
  .p1 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 275%;
    margin-right: 15%;
    margin-top: -5%;
  }
 
  .t1 {
    font-size: 125%;
    color: white;
    padding: 3%;
    margin-top: -2%;
  }
  
    .square {
      width: 80%;
      height: 400px;
      background: rgb(17, 150, 0);
      border-radius: 15px;
      opacity: 0;
      transform: scale(1.2);
  }

  
  @media (prefers-reduced-motion: no-preference) {
    .square {
      transition: opacity 1s ease, transform 1s ease;
      /* animation: wipe-enter 1s 1; */
    }
    
  }
  
  .square-transition {
      opacity: 1;
      transform: none;
  }
}





@media (min-width: 800px) {
  html { 
    background: url(BPA_home.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .container{
    width: 100%;
    height: 1500px;
  }
  .square-wrapper{
    width: 100%;
    height: 500px;
  }
  
  .child1{
    /* border: 1px solid blueviolet; */
    float: left;
    width: 30%;
    padding: 1%;
  }
  
  .n1 {
    margin-top: -3%;
  }
  
  .button1 {
    float: right;
    margin-top: 2%;
    margin-right: 4%;
    width: 15%;
    height: 55px;
    border-radius: 10px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 125%;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 120%;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }  
  .image{
    width: 90%;
    margin-left: -10%;
  }
  .child1{
    width: 20%;
  }
  
  .p0 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 320%;
    margin-right: 13%;
  }
  .p1 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 320%;
    margin-right: 15%;
    margin-top: -5%;
  }
 
  .t1 {
    font-size: 150%;
    color: white;
    padding: 3%;
    margin-top: -2%;
  }

  
  /* @keyframes wipe-enter {
    0% {
      transform: scale(0, .025);
    }
    50% {
      transform: scale(1, .025);
    }
  } */
  /* @keyframes wipe-enter {
    0% {
      transform: scale(0, .025);
    }
    50% {
      transform: scale(1, .025);
    }
  } */
  /* .square {
      width: 200px;
      height: 200px;
      background: orange;
      
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .square-animation {
        animation: wipe-enter 1s 1;
      }
    } */
  
    .square {
      width: 80%;
      height: 475px;
      background: rgb(0, 191, 255);
      border-radius: 15px;
      opacity: 0;
      transform: scale(1.2);
  }
  /* @keyframes square {
    0% {
      transform: scale(0, .025);
    }
    50% {
      transform: scale(1, .025);
    }
  } */
  
  @media (prefers-reduced-motion: no-preference) {
    .square {
      transition: opacity 1s ease, transform 1s ease;
      /* animation: wipe-enter 1s 1; */
    }
    
  }
  
  .square-transition {
      opacity: 1;
      transform: none;
  }
}




@media (min-width: 1000px) {
  html { 
    background: url(BPA_home.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .container{
    width: 100%;
    height: 1500px;
  }
  .square-wrapper{
    width: 100%;
    height: 500px;
  }
  
  .child1{
    /* border: 1px solid blueviolet; */
    float: left;
    width: 30%;
    padding: 1%;
  }
  
  .n1 {
    margin-top: 2%;
  }
  
  .button1 {
    float: right;
    margin-top: 6%;
    margin-right: 4%;
    width: 13%;
    height: 75px;
    border-radius: 10px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 120%;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }  
  .image{
    width: 80%;
    margin-left: -20%;
  }
  .child1{
    width: 20%;
  }
  
  .p0 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 400%;
    margin-right: 15%;
  }
  .p1 {
    font-family: 'Overpass', sans-serif;
    color: white;
    font-size: 400%;
    margin-right: 15%;
    margin-top: -5%;
  }
 
  .t1 {
    font-size: 200%;
    color: white;
    padding: 3%;
    margin-top: -2%;
  }
  
    .square {
      width: 80%;
      height: 650px;
      background: green;
      border-radius: 15px;
      opacity: 0;
      transform: scale(1.2);
  }

  
  @media (prefers-reduced-motion: no-preference) {
    .square {
      transition: opacity 1s ease, transform 1s ease;
      /* animation: wipe-enter 1s 1; */
    }
    
  }
  
  .square-transition {
      opacity: 1;
      transform: none;
  }
}






@media (min-width: 1500px) {
  html { 
    background: url(BPA_home.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .container{
    width: 100%;
    height: 1500px;
  }
  .square-wrapper{
    width: 100%;
    height: 500px;
  }
  
  .child1{
    /* border: 1px solid blueviolet; */
    float: left;
    width: 30%;
    padding: 1%;
  }
  
  .n1 {
    margin-top: 2%;
  }
  
  .button1 {
    float: right;
    margin-top: 6%;
    margin-right: 4%;
    width: 10%;
    height: 75px;
    border-radius: 10px;
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 120%;
  }
  
  .button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }  
  .image{
    width: 80%;
    margin-left: -20%;
  }
  .child1{
    width: 20%;
  }
  
  .p0 {
    font-family: 'Overpass', sans-serif;
    color: white; 
    font-size: 600%; 
    margin-right: 15%;
  }
  .p1 {
    font-family: 'Overpass', sans-serif; 
    color: white; 
    font-size: 600%; 
    margin-right: 15%; 
    margin-top: -5%;
  }
  
  .t1 {
    font-size: 250%;
    color: white; 
    padding: 1%;
    margin-top: -2%;
  }
  
  @keyframes wipe-enter {
    0% {
      transform: scale(0, .025);
    }
    50% {
      transform: scale(1, .025);
    }
  }
  
    .square {
      width: 80%;
      height: 800px;
      background: teal;
      border-radius: 15px;
      opacity: 0;
      transform: scale(1.2);
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .square {
      transition: opacity 1s ease, transform 1s ease;
      /* animation: wipe-enter 1s 1; */
    }
    
  }
  
  .square-transition {
      opacity: 1;
      transform: none;
  }
}